.sideMenu {
  position: fixed;
  top: 0;
  left: -250px; /* Сайдбар изначально скрыт */
  width: 250px;
  height: 100%;
  background-color: #f0f0f0;
  padding: 20px;
  transition: left 0.3s ease; /* Анимация для открытия и закрытия сайдбара */
  z-index: 99;
}

.sideMenu-visible {
  left: 0; /* Показываем сайдбар при добавлении класса sidebar-visible */
}

.sideHint {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  background-color: rgb(229, 228, 228);
  opacity: 0.3;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.sideHint p {
  font-size: 20px;
  color: #000000;
  opacity: 1;
}
